
<h4>Karhabty</h4>
<img width="900" height="1000" src="file:///C:/Users/MALEK/Desktop/PDFIM.PNG"  alt="">


{% for coursautoecole in coursautoecole %}
    <br>
    <br>
    <h2>{{ coursautoecole.type }}</h2>
    <br>
    <br>
    {{ coursautoecole.cours }}

{% endfor %}