

<img width="900" height="1000" src="file:///C:/Users/MALEK/Desktop/PDFIM.PNG"  alt="">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="section-header text-center">
    <h2>Tunisian Road Code </h2>
</div>
{% for coursautoecole in coursautoecole %}
    <br>
    <br>
    <h3>{{ coursautoecole.type }}</h3>
    <br>
    <br>
    <div class="section-header text-center">
    <span>{{ coursautoecole.cours }}</span>
    </div>
{% endfor %}